# Server Configuration
PORT=5001
NODE_ENV=development

# MongoDB Connection
MONGO_URI=mongodb://127.0.0.1:27017/pg_dissertation_db

# JWT Secret Configuration
JWT_SECRET=pg_dissertation_secret_jwt_key_2024_secure_key
JWT_EXPIRE=30d
